@use '../variables';


.infos__bar {
    padding: 16px 24px;
    background-color: variables.$textColor;
    display: flex;
    justify-content: space-between;


    &__infos {
        display: flex;
        gap: 40px;

        &__item {

            font-size: 12px;
            color: variables.$secondarytextColor;
            

            b {
                color: variables.$secondarytextColor;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
        
    }
    
}